.start-page {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #f3cbc1, #e6837c, #426dbe, #1b1b91);
    color: rgb(28, 49, 87);

    .action-section {
        width: 50%;
        padding: 20px;

        .text-section {

            h1 {
                font-size: 40px;
            }

            h2 {
                font-size: 30px;
                color: rgb(55, 55, 110);
                margin-top: 10px;
            }

        }

        .description-section {
            font-size: 20px;
            color: rgb(43, 31, 15);
            margin: 20px 0px;
        }

        .buttons-section {
            margin-top: 20px;

            button {
                width: 300px;
                height: 60px;
                font-size: 16px;
                font-weight: 600;
                font-family: 'Times New Roman', Times, serif;
                margin-right: 15px;

                &:hover {
                    color: rgb(201, 228, 247);
                }
            }
        }
    }

    .image-section {
        width: 50%;

        img {
            width: 95%;
            height: 400px;
            border-radius: 10px;
        }
    }
}

@media (max-width : 600px) {
    .start-page {
        flex-direction: column;
        height: 100%;

        .action-section,
        .image-section {
            width: 80%;
        }

        .action-section {
            margin-top: 100px;
            text-align: center;

            .buttons-section {
                button {
                    width: 200px;
                    height: 55px;
                }
            }
        }

        .image-section {
            margin: 40px;
            img{
                height: 250px;
            }
        }
    }
}