.login {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, rgb(143, 189, 216), rgb(57, 57, 207));

    .login-field {
        width: 400px;
        padding: 20px;

        h1 {
            font-weight: 800;
            color: rgb(33, 44, 146);
            font-size: 40px;
            font-style: italic;
            text-shadow: 4px 4px 20px rgb(53, 67, 190);

        }

        input {
            width: 100%;
            height: 70px;
            padding: 14px;
            font-size: 18px;
            padding-right: 50px;
            border-radius: 5px;
            margin-top: 20px;
            background: white;
            border: none;

            &:focus {
                border: 1px solid;
            }
        }

        button {
            width: 100%;
            height: 50px;
            margin-top: 20px;
            background-color: #0f3b8d;

            &:hover {
                background-color: #0f3b8dDD;
            }
        }

        a {
            text-decoration: none;
            font-size: 18px;
            color: #12128a;
            margin-top: 20px;
            font-weight: 800;
            transition: all .3s ease;

            &:hover {
                text-decoration: underline;
                color: #12128a99;
            }
        }
    }
}