.register {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, rgb(62, 160, 216), rgb(163, 163, 228));


    .register-field {
        width: 400px;
        padding: 20px;

        h1 {
            font-weight: 800;
            color: rgb(77, 89, 204);
            font-size: 40px;
            font-style: italic;
            text-shadow: 4px 4px 20px rgb(77, 89, 204);

        }

        input {
            width: 100%;
            height: 70px;
            padding: 14px;
            font-size: 18px;
            padding-right: 50px;
            border-radius: 5px;
            margin-top: 20px;
            background: white;
            border: none;

            &:focus {
                border: 1px solid;
            }
        }

        button {
            width: 100%;
            height: 50px;
            margin-top: 20px;

            background-color: #7b46dd;

            &:hover {
                background-color: #7b46dd99;
            }
        }

        a {
            text-decoration: none;
            font-size: 18px;
            color: #12128a;
            margin-top: 20px;
            font-weight: 800;
            transition: all .3s ease;

            &:hover {
                text-decoration: underline;
                color: #12128a99;
            }
        }
    }
}