.register {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgb(62, 160, 216), rgb(163, 163, 228));


    .register-field {
        width: 400px;
        padding: 20px;

        h1 {
            font-weight: 800;
            color: rgb(77, 89, 204);
            font-size: 40px;
            font-style: italic;
            text-shadow: 4px 4px 20px rgb(77, 89, 204);

        }

        .profile-image-section {
            position: relative;
            border-radius: 50%;
            height: 130px;
            width: 130px;
            margin: 20px 0px;

            &:hover {
                .upload-photo {
                    cursor: pointer;
                    background-color: #ffffff99;
                }
            }

            .upload-photo {
                transition: all .5s ease;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-color: #ffffff77;
                color: rgb(67, 71, 128);
                border-radius: inherit;
                z-index: 100;
                font-size: 20px;
                text-align: center;
                font-weight: 800;
            }

            .avatar-section,
            img {
                width: 100%;
                height: 100%;
                border-radius: inherit;
                background-color: #555596;
                color: #cfd7e7;
            }
        }

        .input-fields {
            position: relative;
            width: 100%;

            .show-passord-control {
                position: absolute;
                right: 10px;
                bottom: 15px;
                cursor: pointer;
                border-radius: 20px;
                padding: 2px;
                transition: all .3s ease;

                &:hover {
                    background-color: rgb(216, 212, 212);
                }
            }

            input {
                width: 100%;
                height: 70px;
                padding: 14px;
                font-size: 18px;
                padding-right: 50px;
                border-radius: 5px;
                margin-top: 20px;
                background: white;
                border: none;

                &:focus {
                    border: 1px solid;
                }
            }
        }

        .register-button {
            width: 100%;
            height: 50px;
            margin-top: 20px;

            background-color: #7b46dd;

            &:hover {
                background-color: #7b46dd99;
            }
        }



        a {
            text-decoration: none;
            font-size: 18px;
            color: #12128a;
            margin-top: 20px;
            font-weight: 800;
            transition: all .3s ease;

            &:hover {
                text-decoration: underline;
                color: #12128a99;
            }
        }
    }
}


@media (max-width : 600px) {
    .register {
        height: 800px;
    }

}