.chat-section {
    width: 70%;
    height: 100%;
    background-color: rgb(10, 10, 88);
    color: white;
    padding: 10px;

    .user-section {
        position: relative;
        width: 100%;
        height: 100%;

        .header-tools {
            position: absolute;
            top: 18px;
            right: 20px;
        }

        .back-icon,
        .call-icon {
            cursor: pointer;
            color: rgb(212, 205, 205);
            transition: all .5s ease;

            &:hover {
                color: rgb(234, 240, 243);
            }

        }

        .call-icon:hover {
            color: rgb(33, 162, 194);
        }
    }


    .message-input-field {
        width: 100%;
        position: relative;

        .message-input {
            width: 100%;
            background-color: #e4e0e9;
            border-radius: 10px;
            margin-top: 10px;
        }

        input {
            padding-right: 95px;
            padding-left: 40px;
        }

        .send-message-icon {
            position: absolute;
            top: 24px;
            right: 20px;
            cursor: pointer;
            color: #89e1f7;
            transition: all .4s ease;
        }

        .send-active {
            color: #2db8db;
        }

        .emojis-icon {
            position: absolute;
            top: 24px;
            right: 60px;
            cursor: pointer;

            .emoji-position {
                transition: opacity .3s ease-in-out;
                position: absolute;
                top: 0px;
                right: 0px;
            }

            .emoji-hidden {
                opacity: 0;
            }

            .emoji-visible {
                opacity: 1;
            }


        }
    }

    .emojis-field {
        position: absolute;
        bottom: 155px;
        right: 120px;
        width: 300px !important;
        height: 350px !important;
    }
}

.hide-chat-section {
    width: 0px !important;
    height: 0px !important;
    overflow: hidden;
    position: absolute;
    top: -999999px;
    left: -999999px;
}


@media (max-width : 700px) {
    .chat-section {
        width: 100%;
    }

    .chat-section {
        .emojis-field {
            right: 10px;
            bottom: 165px;
        }

        .EmojiPickerReact {
            width: 300px !important;
        }
    }
}