.update-profile-container {
    width: 100%;
    height: 100vh;
    background-color: #00000044;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    cursor: default;

    .update-profile {
        background-color: rgb(21, 31, 48);
        border: 2px solid white;
        width: 50%;
        height: 90%;
        border-radius: 10px;



        .profile-image-section {
            position: relative;
            border-radius: 50%;
            height: 130px;
            width: 130px;
            margin: 20px 0px;

            &:hover {
                .upload-photo {
                    cursor: pointer;
                    background-color: #ffffff99;
                }
            }

            .upload-photo {
                transition: all .5s ease;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background-color: #ffffff77;
                color: rgb(67, 71, 128);
                border-radius: inherit;
                z-index: 100;
                font-size: 20px;
                text-align: center;
                font-weight: 800;
            }

            .avatar-section,
            img {
                width: 100%;
                height: 100%;
                border-radius: inherit;
                background-color: #555596;
                color: #cfd7e7;
            }
        }

        .update-profile-field {
            width: 80%;


            .MuiFormControl-root {
                width: 80%;
                margin-top: 5px;
            }

            .MuiInputBase-adornedEnd {
                padding: 0px;
            }

            input {
                border-radius: 5px;
                background-color: white;

            }

            .show-password {
                position: absolute;
                right: 10px;
            }

            .buttons-field {
                margin: 10px;
                width: 80%;

                button {
                    width: 48%;
                    height: 40px;
                }
            }
        }
    }
}

@media (max-width : 700px) {
    .update-profile-container {
        .update-profile {
            width: 90%;

            .update-profile-field {

                .MuiTypography-h5 {
                    font-size: 17px;
                    text-align: center;
                }

                .MuiTypography-subtitle1 {
                    font-size: 13px;
                    text-align: center;
                    padding: 0px 10px;
                }
            }
        }
    }
}