.chat-messages {
    width: 100%;
    height: 75%;
    border-radius: 10px;
    margin-top: 5px;
    background-color: rgb(18, 190, 247);
    padding: 20px;
    overflow-y: auto;

    .message-content-container {
        position: relative;
        width: 100%;
        height: fit-content;
        margin-top: 5px;
        word-wrap: break-word;

        .avatar-section {
            align-self: flex-start;
            margin-top: 3px;
        }

        .right-indicator,
        .left-indicator {
            position: absolute;
            top: 5px;
            color: #346a85;
            width: 30px;
            height: 30px;
        }

        .right-indicator {
            right: 35px;
        }

        .left-indicator {
            left: 35px;
        }

        .message-content {
            background-color: #346a85;
            padding: 10px;
            overflow-x: hidden;
            height: 100%;
            max-width: 60%;
            padding-bottom: 5px;
            border-radius: 5px;
            margin: 10px;

            .message-timestamp {
                text-align: end;
                font-size: 10px;
                color: rgb(185, 185, 185);
            }

        }
    }

    .sub-container {
        height: 100%;
        color: rgb(172, 213, 247);
        text-shadow: 10px 10px 10px rgb(93, 78, 223);
    }
}