.chat-messages {
    width: 100%;
    height: 75%;
    border-radius: 10px;
    margin-top: 5px;
    background-color: rgb(18, 190, 247);
    padding: 20px;
    overflow-y: auto;

    .message-content-container {
        position: relative;
        width: 100%;
        height: fit-content;
        margin-top: 5px;
        word-wrap: break-word;

        .avatar-section {
            align-self: flex-start;
            margin-top: 3px;
            color: #cfd7e7;
            background-color: #555596;
        }

        .profile-picture {
            width: 41px;
            height: 41px;
            border-radius: 50px;
            margin-bottom: 20px;
        }

        .right-indicator,
        .left-indicator {
            position: absolute;
            top: 5px;
            width: 30px;
            height: 30px;
        }

        .right-indicator {
            right: 35px;
            color: #192642;
        }

        .left-indicator {
            left: 35px;
            color: #346a85;
        }



        .message-content {
            background-color: #192642;
            padding: 10px;
            overflow-x: hidden;
            height: 100%;
            max-width: 60%;
            padding-bottom: 5px;
            border-radius: 5px;
            margin: 10px;
            box-shadow: 4px 4px 20px rgb(102, 100, 218);
            transition: padding .5s ease;

            .message-timestamp {
                text-align: end;
                font-size: 10px;
                color: rgb(185, 185, 185);
            }

        }

        .message-content-sender {
            background-color: #346a85;
            cursor: pointer;
            transition: all .5s ease;

        }

        .sender-hover {

            &:hover {
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                
                background-color: #2c5468;

                &:hover .left-indicator {
                    color: #2c5468;
                }
            }
        }



    }


    .sub-container {
        height: 100%;
        color: rgb(172, 213, 247);
        text-shadow: 10px 10px 10px rgb(93, 78, 223);
    }
}