.user-details {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: #2e2e42;
    color: white;
    padding: 30px 10px;
    transition: all .5s ease;
    margin-top: 10px;
    user-select: none;

    .user-info {
        margin-left: 10px;

        .user-info-text {
            overflow: hidden;
        }

        p {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 5px;
            color: rgb(229, 229, 250);
        }

        span {
            font-size: 14px;
        }

    }

    &:hover {
        background-color: rgb(53, 53, 85);
    }

    .myData-loading {
        margin-left: 20px;
    }

    .profile-section {
        position: relative;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        margin: 20px 0px;

        .avatar-section,
        img {
            background-color: #555596;
            color: #cfd7e7;
            width: 45px;
            height: 45px;
            border-radius: inherit;
        }
    }

}



@media (max-width : 700px) {
    .user-details {
        .user-info {


            p {
                font-size: 15px !important;
            }

        }
    }
}