       /* Custom play button */
       .rhap_container {
           width: 190px !important;
           height: 50px;
           background-color: whitesmoke;
           border-radius: 7px;
           margin: 5px 0px;

           /* Custom time display */
           #rhap_current-time,
           .rhap_total-time {
               display: none;
           }

           .rhap_button-clear {
               width: 0px;
               height: 0px;

               .custom-play-button,
               .custom-pause-button {
                   position: absolute;
               }

               .sender-position-play {
                   top: 51px;
                   left: 70px;
               }

               .sender-position-pause {
                   top: 45px;
                   left: 63px;
               }


               .not-sender-position-play {
                   top: 34px;
                   right: 220px;
               }

               .not-sender-position-pause {
                   top: 29px;
                   right: 215px;
               }
           }

           /* Custom progress bar */
           .rhap_progress-container {
               margin-left: 20px;
               direction: ltr;

               .rhap_progress-indicator {
                   background-color: #5252ae;
                   margin: 5px 0px 5px 0px;
                   width: 11px;
                   height: 11px;
               }

               .rhap_progress-filled {
                   background-color: #5252ae;
               }
           }

       }

       .time-display {
           position: absolute;
           bottom: 35px;
           left: 100px;
           font-size: 15px;
           color: #5252ae;
       }

       .time-display-sender {
           bottom: 35px;
           left: 100px;
       }

       .time-display-not-sender {
           bottom: 35px;
           right: 170px;
       }