@import url('./assets/styles/FlexStyles.css');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: rgb(216, 214, 214);
}


@media (max-width : 600px) {
  * {
    font-family: sans-serif;
  }
}



::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(73, 100, 160);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: whitesmoke;
}

.scrollable-section {
  max-height: fit-content;
  transition: 0.3s linear;
}